In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import csv

In [2]:
f = open('som1.csv','a',encoding='utf-8')
csvWriter = csv.writer(f)
headers=['full_text','retweet_count','user_followers_count','favorite_count','place','coordinates','geo','created_at','id_str']
csvWriter.writerow(headers)

for inputFile in ['AS1_30_03_20.txt']:#all the text-file names you want to convert to Csv in the sae folder as this code
    tweets = []
    for line in open(inputFile, 'r'):
        tweets.append(json.loads(line))

    print('HI',len(tweets))
    count_lines=0
    for tweet in tweets:
        try:
            csvWriter.writerow([tweet['full_text'],tweet['retweet_count'],tweet['user']['followers_count'],tweet['favorite_count'],tweet['place'],tweet['coordinates'],tweet['geo'],tweet['created_at'],str(tweet['id_str'])])
            count_lines+=1
        except Exception as e:
            print(e)
    print(count_lines)

HI 100
100

In [3]:
import pandas as pd
df = pd.read_csv('som1.csv', encoding = 'unicode_escape')
df.head(5)

,full_text,retweet_count,user_followers_count,favorite_count,place,coordinates,geo,created_at,id_str
0,full_text,retweet_count,user_followers_count,favorite_count,place,coordinates,geo,created_at,id_str
1,full_text,retweet_count,user_followers_count,favorite_count,place,coordinates,geo,created_at,id_str
2,"RJ went shopping, came home with flowers, I as...",0,148,0,"{'attributes': {}, 'bounding_box': {'coordinat...",NaN,NaN,Mon Mar 30 18:51:28 +0000 2020,1244698776473870336
3,RT @_teazzy_: #TheLockdown Seyi Makinde #Trade...,23,926,0,NaN,NaN,NaN,Mon Mar 30 18:51:27 +0000 2020,1244698772032163840
4,RT @IamReallG: Here in Witbank Ezinambeni nyao...,8,55228,0,NaN,NaN,NaN,Mon Mar 30 18:51:26 +0000 2020,1244698768844488706

In [4]:
print(len(df.index))#72 total no of rows in the dataset
serlis=df.duplicated().tolist()
print(serlis.count(True))#1
serlis=df.duplicated(['full_text']).tolist()
print(serlis.count(True))#10

173
72
84

In [5]:
df=df.drop_duplicates(['full_text'])

In [6]:
print(df['geo'].isna().sum())
print(df['place'].isna().sum())
print(df['coordinates'].isna().sum())

88
82
88

In [7]:
df = df.drop(['place', 'coordinates', 'geo', 'id_str'], axis = 1)
df.head()

,full_text,retweet_count,user_followers_count,favorite_count,created_at
0,full_text,retweet_count,user_followers_count,favorite_count,created_at
2,"RJ went shopping, came home with flowers, I as...",0,148,0,Mon Mar 30 18:51:28 +0000 2020
3,RT @_teazzy_: #TheLockdown Seyi Makinde #Trade...,23,926,0,Mon Mar 30 18:51:27 +0000 2020
4,RT @IamReallG: Here in Witbank Ezinambeni nyao...,8,55228,0,Mon Mar 30 18:51:26 +0000 2020
5,So when all this shite is over and done with w...,0,1982,0,Mon Mar 30 18:51:26 +0000 2020

In [8]:
df['full_text'][22]

'RT @ayemojubar: #TheLockdown: Someone should help me call LAWMA? ð\x9f¤£ð\x9f\x98\x82\r\nhttps://t.co/XW0TGExXni'

In [9]:
import re
for i in range(len(df)):
    txt = df.iloc[i]["full_text"]
    txt=re.sub(r'@[A-Z0-9a-z_:]+','',txt)#replace username-tags
    txt=re.sub(r'^[RT]+','',txt)#replace RT-tags
    txt = re.sub('https?://[A-Za-z0-9./]+','',txt)#replace URLs
    txt=re.sub("[^a-zA-Z]", " ",txt)#replace hashtags
    df.at[i,"full_text"]=txt

In [10]:
print(df['full_text'][15])

  Those who still ponder how to get their means of survival are also in your hands      You know end from beginning  and If you c

In [23]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
pstem = PorterStemmer()
lem = WordNetLemmatizer()

stop_words = set(stopwords.words('english')) 


for i in range(len(df.index)):
    text = df.iloc[i]['full_text']
    tokens = nltk.word_tokenize(text)
    tokens = [word for word in tokens if word not in stop_words]
    for j in range(len(tokens)):
        tokens[j] = lem.lemmatize(tokens[j])
        tokens[j] = pstem.stem(tokens[j])
    
    

tokens_sent=' '.join(tokens)
df.at[i,"full_text"] = tokens_sent

[nltk_data] Downloading package stopwords to C:\Users\Tobechi
[nltk_data]     Chukwuleta\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Tobechi
[nltk_data]     Chukwuleta\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Tobechi
[nltk_data]     Chukwuleta\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.